[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=fima
Group=fima
WorkingDirectory=/home/fima/app/src/
Environment="PATH=/home/fima/app/venv/bin"
EnvironmentFile=/home/fima/.env
ExecStart=/home/fima/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target